# Data files (too large for Git)
data/
*.bam
*.fastq
*.fastq.gz
*.tar
*.tar.gz
*.rds

03_results/
04_figures/

MANIFEST.txt
*.txt

# R session files
.Rhistory
.RData
.Rproj.user/
*.Rproj
.RDataTmp*

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
EOF